:root{
  --skin-color: #f7833b;
  --pink-hair: linear-gradient(black, #CC0066);
}

body {
  background-color: #FFCE9F;
  height: 100vh;
  width: 100%;
  font-family: "Noto Serif", "Georgia";
}

nav {
  background-color: #CC0066;
  position: sticky;
  top: 0;
  margin-top: 0;
  padding: 0;
  height: 70px;
  display: flex;
  z-index: 9999;
}

nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-between;
}

nav li {
  align-items: center;
}

nav a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: #FF36C9;
}

.decorative-bar1 {
  background-color: #FF36C9;
  width: 13%;
  height: 100vh;
  position: absolute;
  top: 8px;
  left: 65%;
  border-left: #CC0066 solid;
  border-right: #CC0066 solid;
  border-bottom: #CC0066 solid;
  z-index: -1;
}

#welcome-section {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  letter-spacing: 1px;
  height: 100vh;
  align-items: center;
}

#welcome-section h1, h2 {
  font-weight: 100;
}
#welcome-section h1 {
  font-size: xx-large;
  font-family: 'Amita', 'Georgia', 'serif';
}

.welcome-text-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  justify-content: center;
  height: 100vh;
  flex-wrap: nowrap;
}

.welcome-text-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.decorative-bar2 {
  background-color: #FF36C9;
  width: 13%;
  height: 100vh;
  position: absolute;
  top: 800px;
  left: 65%;
  border-left: #CC0066 solid;
  border-right: #CC0066 solid;
  border-top: #CC0066 solid;
  z-index: -1;
}

.animation {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  top: 500px
}

.head {
  width: 85px;
  height: 105px;
  position:relative;
  top: -150px;
  right: 25px;
  background-color: var(--skin-color);
  border-radius: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.eye {
  width: 25px;
  height: 10px;
  background-color: white;
  border-radius: 50% 50% 20% 20%;
  position: relative;
  top: 31px;
  border: 1px solid #96420e;
  display: flex;
  justify-content: center;
}

.pupil {
  width: 6px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.nose {
  width: 12px;
  height: 5px;
  border-color: transparent transparent transparent black ;
  border: 2px solid;
  border-color: #000 transparent transparent transparent;
  border-radius: 300%;
  position: relative;
  top: 55px;
  right: 45px;
  transform: rotate(265deg);
}

.mouth {
  background-color: rgb(175, 7, 7);
  width: 45%;
  height: 15%;
  position: relative;
  top: 22px;
  left: 15px;border-radius: 106px 113px 200px 180px;
  -webkit-border-radius: 106px 113px 200px 180px;
  -moz-border-radius: 106px 113px 200px 180px;
  background: #990315;
}

.teeth {
background-color: white;
height: 30%;
width: 85%;
position: relative;
top: 5px;
left: 2px;
border-radius: 0 0 60% 60%;
}

.hair {
  position: absolute;
  width: 115%;
  height: 110%;
  background: var(--pink-hair);
  z-index: -1;
  border-radius: 35%;box-shadow: 183px 182px 15px -165px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 183px 182px 15px -165px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 183px 182px 15px -165px rgba(0,0,0,0.75) inset;
}

.bang1 {
  position: absolute;
  width: 45%;
  height: 90%;
  background: var(--pink-hair);
  border-radius: 35% 50% 50% 25%;
  top: -2px;
  left:55px;
  z-index: 1;
  box-shadow: 12px 18px 12px 1px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 12px 18px 12px 1px rgba(43, 37, 37, 0.75) inset;
  -moz-box-shadow: 12px 18px 12px 1px rgba(0,0,0,0.75) inset;
  transform: rotate(340deg);
}

.bang2 {
  position: absolute;
  width: 70%;
  height: 25%;
  background: var(--pink-hair);
  border-radius: 45% 50% 50% 75%;
  left: 12px;
  top: 0.75px;
  z-index: 1;
  box-shadow: 12px -189px 10px 1px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 12px -189px 10px 1px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 12px -189px 10px 1px rgba(0,0,0,0.75) inset;
}

.body {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.neck {
  width: 20px;
  height: 25px;
  background: var(--skin-color);
  position: relative;
  bottom: 152px;
  left: 5px;
  box-shadow: 2px 2px 5px black inset, -2px 0 2px black inset;
  border-radius: 25% 0 0 25%;
  z-index: -1;
}

.torso {
  width: 85px;
  height: 250px;
  position: relative;
  top: -153px;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  justify-content: center;
}

.torso .upper{
  height: 125px;
  background: var(--skin-color);
  border-radius: 30% / 60%;
  box-shadow: -2px -2px 5px 0px black;
-webkit-box-shadow: -2px -2px 5px 0px black;
-moz-box-shadow: -2px -2px 5px 0px black;
}

.torso .lower {
  background: var(--skin-color);
  height: 150px;
  border-radius: 40% / 50%;
  position: relative;
  top: -3px;
  box-shadow: 2px 6px 16px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 6px 16px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 16px -1px rgba(0,0,0,0.75);
  z-index: -1;
}

.arms {
  display: flex;
  justify-content: space-between;
  width: 105px;
  position: relative;
  bottom: 405px;
  right: 35px;
  border: #000 1px solid;
}

.arms > .left {
  bottom: 300px;
  right: 100px;
  transform: rotate(5deg);
}


.shoulder {
  border: #000 solid 1px;
  width: 30px;
  height: 40px;
  background: var(--skin-color);
  border-radius: 45% 50% 50% 45%;
}

.right .shoulder {
  transform: rotate(340deg);
}

.arms .upper {
  width: 20px;
  height: 65px;
  background: var(--skin-color);
  border-radius: 45%;
  border: #000 solid 1px;
  position: relative;
  top: -5px;
}

.arms > .left .upper {
  left: 2px;
}

.arms .lower {
  width: 15px;
  height: 70px;
  background: var(--skin-color);
  border-radius: 45% 40% 45% 45%;
  position: relative;
  bottom: 10px;
  right: 5px;
  transform: rotate(15deg);
  border: #000 solid 1px;
}

.hand {
  display: flex;
  flex-direction: column;
  position: relative;
  }

.left > .hand {
  top: -15px;
  right: 22px;
  transform: rotate(15deg);
}

.left > .hand > .palm, .right > .hand > .palm {
  width: 19px;
  height: 25px;
  background: var(--skin-color);
  border-radius: 45% 40% 20% 15% ;
  border: #000 solid 1px;
}

.fingers  {
  display: flex;
}

.finger {
  width: 3px;
  height: 19px;
  background: var(--skin-color);
  border-radius: 2px 2px 5px 5px;
  border: #000 solid 1px;
  position: relative;
  top: -2px;
}

.thumb {
  width: 4px;
  height: 18px;
  background: var(--skin-color);
  border: #000 solid 1px;
  border-radius: 70% 60% 60% 70%;
  position: relative;
  bottom: 20px;
  right: 25px;
  transform: rotate(15deg);
}

.arms > .right {
  top: -635px;
  left: 30px;
}

.arms > .right > .upper {
  left: 5px;
  transform: rotate(8deg);
}

.right .hand {
bottom: 18px;
right: 22px;
transform:rotate(15deg)
}



@media screen {

}
